* {
  margin: 0;
  padding: 0;
}

#main {
  border: 1px solid black;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  #top {
    border: 1px solid black;
    height: 15%;
    width: 90%;
    padding: 10px;
    margin: 5px;
  }

  #chart {
    border: 1px solid black;
    height: 70%;
    width: 90%;
    padding: 10px;
    margin: 5px;
  }
  #btm {
    border: 1px solid black;
    height: 15%;
    width: 90%;
    padding: 10px;
    margin: 5px;
  }
}
