* {
    margin: 0;
    padding: 0;
}

#main {
    border: 1px solid black;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    #left {
        border: 1px solid black;
        height: 98%;
        width: 49%;
    }

    #chart{
        border: 1px solid black;
        height: 98%;
        width: 49%;
    }
}