.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}


.node-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dndnode {
  height: 40px;
  width: 20%;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.react-flow__node-custom input {
  text-align: center;
  border: none;
}

.react-flow__node-custom input ::placeholder {
  color: lightgray;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow #topbar {
    width: 20%;
    max-width: 250px;
  }
}
